body {
  margin: 0;
  text-align: center;
  font-family: 'Caveat', cursive;
  background-image: url("wallpaper.gif");
  font-size: 20px;
}
h1
{
  margin: auto;
  font-family: 'Comfortaa', cursive;
  color: #622569;
}

.army
{
  text-decoration: underline;
}

.top-cloud
{
  position: relative;
  left: 200px;
  top: 50px;
}

.bottom-cloud
{
  position: absolute;
}

h2
{
  margin: auto;
  width: 10%;
  font-family: 'Comfortaa', cursive;
  color: #622569;

}

h3
{
  font-family: 'Indie Flower', cursive;
  color: #622569;
}

hr
{
  width: 5%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 10px dotted grey;
  margin-top: 50px;
  margin-bottom: 50px;

}

.sugababy
{
  position: relative;
  width: 250px;
  height: 250px;
}
.skill-row
{
  margin: 100px auto 100px auto;
  width: 30%;
  text-align: center;
  line-height: 3;
}

.skill-1
{
  margin-right: 50px;
  float: left;
  height: 200px;
  width: 200px;
}
.skill-2
{
  margin-left: 20px;
  float: right;
  height: 200px;
  width: 200px;
}

.btn {
  background: #bd34d9;
  background-image: -webkit-linear-gradient(top, #bd34d9, #b82b5a);
  background-image: -moz-linear-gradient(top, #bd34d9, #b82b5a);
  background-image: -ms-linear-gradient(top, #bd34d9, #b82b5a);
  background-image: -o-linear-gradient(top, #bd34d9, #b82b5a);
  background-image: linear-gradient(to bottom, #bd34d9, #b82b5a);
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  font-family: Courier New;
  color: #f2c7c6;
  font-size: 18px;
  padding: 7px 11px 7px 11px;
  text-decoration: none;
}

.btn:hover {
  background: #3e9cd6;
  background-image: -webkit-linear-gradient(top, #3e9cd6, #3498db);
  background-image: -moz-linear-gradient(top, #3e9cd6, #3498db);
  background-image: -ms-linear-gradient(top, #3e9cd6, #3498db);
  background-image: -o-linear-gradient(top, #3e9cd6, #3498db);
  background-image: linear-gradient(to bottom, #3e9cd6, #3498db);
  text-decoration: none;
}

.contact-me
{
  margin-bottom: 50px;
}
.footer-link
{
  margin-left: 30px;
  margin-bottom: 50px;
}
.surname
{
  margin-top: 40px;
}
